.reveal .fa-twitter {
  color: #00aced; }

.reveal img.heading-logo {
  vertical-align: middle;
  height: 20%;
  width: 20%; }

.reveal img.bio-logo {
  vertical-align: middle;
  width: 17%; }

.reveal .highlight {
  color: #00aced; }

.reveal .foot {
  font-size: .5em; }

.reveal .text-left {
  text-align: left; }

.reveal .tall-code code {
  max-height: unset; }

.reveal .blocking-text {
  background: black;
  color: red;
  border-radius: .25em;
  transform: rotate(-10deg); }

.reveal .strong-contrast strong {
  color: #00aced; }

.reveal .inline-code-contrast code {
  background-color: black;
  color: #faf2ad; }
