$fancyBlue: #00aced;
.reveal {
  .fa-twitter{
    color:#00aced;
  }
  .container{
      display: flex;
  }

  .col{
      flex: 1;
  }

  img.heading-logo{
    vertical-align: middle;
    height: 20%;
    width: 20%;
  }

  img.bio-logo {
    vertical-align: middle;
    width: 17%;
  }
  .highlight {
    color: $fancyBlue;
  }
  .foot {
    // padding-top: 3em;
    font-size: .5em;
  }
  .text-left {
    text-align: left;
  }
}
